torch
torchvision
transformers
opencv-python
scipy
flask
flask-cors
Pillow
numpy
lime
shap
grad-cam
pytorch-grad-cam
matplotlib
scikit-image
scikit-learn
c2pa-python
python-dateutil
cryptography
requests
timm
pytorch-lightning
torchmetrics
